SLASH = /

API_BASE_URL=https:$(SLASH)/api.themoviedb.org

API_KEY=06e1a8c1f39b7a033e2efb972625fee2

IMAGE_BASE_URL=https:$(SLASH)/image.tmdb.org

// Default
ASSETCATALOG_COMPILER_APPICON_NAME=AppIcon

CODE_SIGN_STYLE=Automatic

PRODUCT_BUNDLE_IDENTIFIER=home.rcaos.tvtoday

SWIFT_VERSION=5.0

TARGETED_DEVICE_FAMILY=1,2
